header
    color: #fff
    width: 100%
    background-color: rgb(41, 10, 10)
    padding: 10px 4%
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    border-top: 1px solid #dfca12
    height: 80px
    flex: 0 0 auto
    align-items: center
    
    
    .header-contBtn-left
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center


@media screen and (max-width: 1200px)
    header
        height: 60px
        padding-bottom: 0px
        padding-top: 0px
        

@media (max-width: 900px) and (orientation: landscape)
    header
        height: 31px


// @media screen and (max-width: 992px)


// @media screen and (max-width: 768px)

// @media screen and (max-width: 576px)
