.impi
    background-color: red
    height: 200px
    width:  200px
    position: absolute
    bottom: 0
    right: -200px


.impi-animate
    animation-name: impi-left 
    animation-duration: 1s


@keyframes impi-left 
  from 
    right: -200px
  
  50%
    right: 200px
      
  to 
    right: -200px
  






