.content
    padding: 5%
    display: flex
    flex-wrap: wrap
    width: 100%
    flex: 1 0 auto
    align-items: center
    justify-content: center
    align-content: stretch


@media screen and (max-width: 1500px)
        .content
            padding: 5%

@media screen and (max-width: 1200px)
        .content
            padding: 5%


@media screen and (max-width: 992px)
        .content
            padding: 3%

@media screen and (max-width: 768px)
        .content
            padding: 5%

@media screen and (max-width: 576px)
        .content
            padding: 1%